<table class="table table-striped">
  <thead>
    <tr>
      <td>Task Completed</td>
      <td>Task_to_do</td>
      <td>Detail</td>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <div class="form-check"></div>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            check it out!
          </label>  
      </td>
      <td><%= link_to task.name %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td>          
        <div class="actions">
            <%# 把編輯與刪除按鍵搬到 todos_helper.rb %>
            <%# 用 helper 的方式來做按鈕的 render %>
            <%# 可把 todo 物件，當成參數傳入 helper %>
          <%= task_edit_button(task) %>
          <%= task_delete_button(task) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Task', new_task_path, class: "btn btn-default" %>